.header {
  border-bottom: 1px solid rgb(200, 200, 200);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.navLink {
  display: inline-flex;
  padding: 25px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}

.active {
  color: rgb(21, 151, 69);
}

.main {
  padding: 25px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}